{
    "chains": [
        "komodo",
        "PIRATE",
        "VRSC",
        "HUSH3",
        "DEX"
    ],
    "explorers": {
        "KMD": "https://www.kmdexplorer.io/",
        "PIRATE": "https://pirate.explorer.dexstats.info/",
        "DEX": "https://dex.explorer.dexstats.info/",
        "VRSC": "https://explorer.veruscoin.io/",
        "HUSH3": "https://explorer.myhush.org/"
    },
    "subatomic_exe": "./subatomic",
    "subatomic_dir": "/Users/satinder/repositories/jl777/komodo/src"
}