body {
	background-color: #001625;
	color: #fff;
}

.logo{
	width: 25px;
}

.bg-dark {
	background-color: #0e2842 !important;
}

.table-dark {
	background-color: #0e2842;
}

.table-card {
	margin-bottom: 0px;
}

.table-dark td, .table-dark th, .table-dark thead th {
	border-color: #14263C;
}

.card {
	-webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.3);
}

.card-header {
	background-color: rgba(0, 0, 0, 0.31);
}

.login-body {
	background-image: url("../images/sub-header-logo-min.png");
	background-size: auto auto;
	/*text-align: center;*/
	background-color: #001625;
	background-repeat: no-repeat;
	position: relative;
	background-position: calc(0% - 200px) calc(100% + 400px);
	color: #fff;
}

.divider {
	border-top: 1px solid #d9dadc;
	display: block;
	line-height: 1px;
	margin: 35px 0;
	position: relative;
	text-align: center;
}

.divider .divider-title {
	background: #001625;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 0 20px;
	text-transform: uppercase;
}

.login-hr {
	border-top: 1px solid rgba(255, 255, 255, 0.09);
}

.send_form {
	width: 665px;
}

.hidden {
  opacity: 0;
  transition: opacity;
}

.hidden:hover {
  opacity: 1;
}

.obtable-ask td:nth-child(2) {
    color: red;
}

.obtable-bid td:nth-child(2) {
    color: greenyellow;
}

.obtable-ask td, .obtable-ask th, .obtable-bid td, .obtable-bid th {
    width: 100px;
}

.table-wrap {
    height: 300px;
    overflow-y: auto;
}

.bs-stepper .line, .bs-stepper-line {
	background-color: rgba(255, 255, 255, 0.12) !important;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}