{{define "footer"}}
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {{/* <script src="https://kit.fontawesome.com/470a00958c.js"></script> */}}
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
	</body>
</html>
{{end}}