{{define "menu-button-array"}}
    <a class="btn btn-outline-primary mr-sm-1" href="/">Dashboard</a>
    <a class="btn btn-outline-info mr-sm-1" href="/orderbook">Orderbook</a>
    <a class="btn btn-outline-secondary mr-sm-1" href="/dexlist">DEX List</a>
    <a class="btn btn-outline-success mr-sm-1" href="/swapstatus">Swap Status</a>
    <a class="btn btn-outline-warning mr-sm-1" href="/history">History</a>
{{end}}}